<h1>Sign Up</h1>

<%=form_for User.new do |f| %>
  <div class="form-group">
    <%=f.label :email %>
    <%=f.text_field :email %>
  </div>
  <div class="form-group">
    <%=f.label :phone_number %>
    <%=f.text_field :phone_number %>
  </div>
  <div class="form-group">
    <%=f.label :password %>
    <%=f.password_field :password %>
  </div>
  <div class="form-group">
    <%=f.label :password_confirmation %>
    <%=f.password_field :password_confirmation %>
  </div>
  <div class="form-group">
    <%=f.submit "Sign Up" %>
  </div>
<%end%>
