<h1>Edit <%= @post.title %></h1>

<% if @post.errors.any? %>
  <h3>Please fix these errors:</h3>
  <ul>
    <%= @post.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @post do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :body %>
  <%= f.text_area :body %>
  <%= f.submit %>
<% end %>
