<% content_for(:title, "#{@post.title}") %>

<h1><%= @post.title %></h1>

<div class="well">
  <p><%= @post.body %></p>

  <% if current_user != nil %>
    <p><%= link_to "Edit post", edit_post_path(@post) %></p>
    <p><%= link_to "Delete post", post_path(@post),
                              :data => {:method => "delete"} %></p>
  <% end %>
</div>

  <ul id='comments', class='list-unstyled'>
      <% @post.comments.each do |comment| %>
        <%= render comment %>
      <% end %>
  </ul>

<% if current_user != nil %>
  <p><%= link_to "Add a comment", new_post_comment_path(@post), id: "add_comment", remote: true %></p>
<% end %>


<p><%= link_to "Return to posts", posts_path %></p>
